# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Raw and generated data
data/raw/*.csv
data/processed/*.csv
data/rejected/*.csv

# Keep folder placeholders
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/rejected/.gitkeep